In [2]:
#Q1
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [15]:
#Q2
for i in range(1,6):
    for x in range(1,i+1):
        print(x,end=" ")
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [24]:
#Q3
number_input=int(input('Enter number= '))
def sum_numbers(n1):
    sum_output=0
    for i in range(1,n1+1):
        sum_output+=i
    print(sum_output)
sum_numbers(number_input)

Enter number= 10
55

In [27]:
#Q4
number_input=int(input('Enter number= '))
def mult_numbers(n1):
    for i in range(1,11):
        print(i*n1)
mult_numbers(number_input)

Enter number= 2
2
4
6
8
10
12
14
16
18
20

In [29]:
#Q5
numbers = [12, 75, 150, 180, 145, 525, 50]
required_nums=[]
for i in numbers:
    if i%5==0 and i<=150:
        required_nums.append(i)
    elif i>500:
        break
print(required_nums)

[75, 150, 145]

In [32]:
#Q6
number1=int(input('Please enter number '))
counter=0
while number1!=0:
    counter+=1
    number1=number1 // 10
print(counter)

Please enter number 7654321
7

In [39]:
#Q7
for i in range(5,0,-1):
    for x in range(i,0,-1):
        print(x,end="")
    print("")

54321
4321
321
21
1

In [43]:
#Q8
list1 = [10, 20, 30, 40, 50]
for i in list1[::-1]:
    print(i)

50
40
30
20
10

In [45]:
#Q9
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [46]:
#Q10
for i in range(5):
    print(i)
else:
    print('done')

0
1
2
3
4
done

In [48]:
#Q11
# range
start = 25
end = 50
for i in range(start,end+1):
    for x in range(2,i):
        if i%x==0:
            break
    else:
        print(i)

29
31
37
41
43
47

In [54]:
#Q12
first_num=0
second_num=1
for i in range(1,10):
        sum=first_num+second_num
        print(first_num,end=' ')
        first_num=second_num
        second_num=sum

0 1 1 2 3 5 8 13 21

In [58]:
#Q13
n1=int(input('Please enter number'))
factorial=1
for i in range(n1,1,-1):
    factorial=factorial*i
print(factorial)

Please enter number5
120

In [59]:
#Q14
n1=76542
n1=str(n1)
print(n1[::-1])

24567

In [65]:
#Q15
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
x=len(my_list)
for i in range(0,x,1):
    if i%2!=0:
        print(my_list[i],end=' ')

20 40 60 80 100